*,
*::after,
*::before {
    box-sizing: border-box;
    line-height: 120%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans-serif);
    font-size: var(--text-normal);
    line-height: 120%;
    letter-spacing: 4%;
    background-color: var(--white);
}

main {
    margin-top: 70px;
}

h1,
h2,
h3 {
    font-family: var(--font-serif);
    line-height: 120%;
}

h1 {
    font-size: var(--text-title1);
}

h2 {
    font-size: var(--text-title2);
}

h3 {
    font-size: var(--text-title3);
}

button,
input,
textarea {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

p {
    line-height: 120%
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-unstyled {
    text-decoration: none;
    color: var(--black);
}