.header {
    width: 100%;
    position: fixed;
    top: 0;
}

.header--bg {
    background-color: var(--black);
}

.header__link {
    display: flex;
    align-items: center;
}

.header__title-link {
    font-size: var(--text-large);
    margin: 0;
    padding-left: var(--space5);
    padding-right: var(--space5);
    color: var(--white);
    font-family: var(--font-serif);
    text-decoration: none;
}

.header__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space2) var(--space4);

}

.header__menu_btnClosed {
    display: none
}