.section {
    padding: var(--space3);
}

.section--black {
    background-color: var(--black);
}

.section--color-sand {
    background-color: var(--sand);
}

.section__title {
    padding-bottom: var(--space1);
}