.btn {
    border-radius: 4px;
}

.btn--ticket {
    background-color: var(--sand);
    color: var(--black);
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}