.intro__title {
    margin: 0;
    padding-bottom: var(--space2);
}

.intro__title--home {
    padding-bottom: var(--space3);
}

.intro__content {
    padding-bottom: var(--space2);
    font-size: var(--text-medium);
}

.intro__list {
    font-size: var(--text-small);
    padding-bottom: var(--space1);
    font-style: italic;
}

.intro--white {
    color: var(--white);
}

.intro__content--home {
    font-size: var(--text-normal);
}