/* .menu {
    display: none;
} */

.menu-btn {
    width: 28px;
    height: 28px;
    background-color: var(--black);
    position: absolute;
    top: 28px;
    right: 28px;
}   

.menu__list {
    font-family: var(--font-serif);
    padding: var(--space4);
}

.menu__item {
    font-size: var(--text-title2);
    padding-bottom: var(--space3);
}

.menu__link {
    text-decoration: none;
    color: var(--white);
}